.flag {
    display: none;
}

td {
    font-size: 18px;
}

.logo {
    max-width: 18px;
}

.header-texto {
    display: flex;
    align-items: center;
}

.header-texto h1 {
    padding-left: 15px;
}


.graficos {
    height: 500px;
    width: 100%;
}